/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.info-hotspot-modal {
  font-family: 'Museo sans', sans-serif;
  font-weight: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 15 !important;
  background-color: rgba(0, 0, 0, 0.586);
  opacity: 0;
  font-size: 12px;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
  -o-transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s ease-in-out, visibility 0s 0s;
  -o-transition: opacity 0.5s ease-in-out, visibility 0s 0s;
  transition: opacity 0.5s ease-in-out, visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  width: 100%;
  max-width: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  -o-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
  position: relative;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  -o-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon {
  display: none;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  padding-bottom: 0.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Antonio';
  font-size: clamp(1.5rem, 0.5vw, 2rem);
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.info-hotspot-close-icon:hover {
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-content {
  max-width: 1000px;
  /* min-height: 550px; */
  max-height: 550px;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  /* grid-gap: 1rem; */
  overflow: hidden;
  background-color: #fff;
  color: #282727;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin: 0 auto;
  user-select: text;
}

.info-hotspot-modal.fullWidth {
  padding: 0;
}

/* .info-hotspot-modal.info-hotspot-modal.fullWidth > .info-hotspot-header { */
/*   display: none; */
/* } */

/* .info-hotspot-modal.info-hotspot-modal.fullWidth */
/*   > .info-hotspot-header */
/*   .info-hotspot-title { */
/*   display: none; */
/*   max-width: 100%; */
/* } */

/* .info-hotspot-content.fullwidth_modal { */
/*   display: flex; */
/*   flex: 0; */
/*   background-color: transparent; */
/*   width: 100%; */
/*   height: 100%; */
/* } */

/* .info-hotspot-content.info-hotspot-content.fullwidth_modal */
/*   .iframe_container */
/*   iframe { */
/*   height: 100%; */
/*   min-width: 100%; */
/* } */

.iframe_container,
.iframe_container__video {
  margin: 0 auto;
  min-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent;
  position: relative;
}

.iframe_container__video {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #fff;
}

.iframe_container__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.hotspot-title-span {
  font-style: italic;
}

.info-hotspot-modal.visible .info-hotspot-content {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  -o-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

.carousel_container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.carousel .carousel-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

.info-hotspot-content.fullwidth_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.iframe_container,
.iframe_container__video {
  margin: 0 auto;
  min-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.iframe_container__video .slider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background: transparent;
  z-index: 10 !important;
}

.iframe_container__video .slider-bot {
  position: absolute;
  height: 40%;
  background: transparent;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  z-index: 10 !important;
}

.iframe_container__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.hotspot-title-span {
  font-style: italic;
}

.info-hotspot-modal.visible .info-hotspot-content {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  -o-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

.lazy {
  background-image: none;
  background-color: #f1f1fa;
}

.product-txt-wrapper > *:not(.product-txt) {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.product-txt-container::-webkit-scrollbar-track {
  background-color: #fff;
}

.product-txt-container::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

.product-txt-container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-blk);
}

.product-txt-wrapper .product-txt-subhead {
  font-family: 'Antonio', sans-serif;
  font-size: clamp(1rem, 9vw, 2rem);
  width: 95%;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  margin-bottom: 1rem;
  padding-bottom: 8px;
}

.product-txt {
  font-size: clamp(0.75rem, 10vw, 1rem);
  font-weight: lighter;
}

.product-txt h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding: 0 !important;
}

.product-txt h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.addtl_modal_body {
  margin-bottom: 1rem;
}

.addtl_modal_body_2 p {
  margin-bottom: 1rem;
}

.consultant_perks {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 100;
}

.product-txt .modal_block-header {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.recipes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
}

.recipes-header {
  display: inline-block;
  font-size: clamp(0.5rem, -0.875rem + 8.333333vw, 1.25rem);
  padding-bottom: 1rem;
  font-weight: 300;
}

.recipes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.recipes-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  padding-bottom: 4px;
  max-width: 100%;
  margin: 0 1rem 0 0;
}

.recipe-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.recipes-list li:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
}

.recipes-list li .recipes-link {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.recipe-preview-img-wrap {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 10px;
  height: clamp(75px, -0.875rem + 8.333333vw, 200px);
  width: clamp(75px, -0.875rem + 8.333333vw, 200px);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.__related-content {
  width: 140px;
  height: 80px;
}

.recipes-list li:hover .recipe-preview-img-wrap {
  -webkit-box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
  box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
}

.recipes-list li:hover .recipe-title {
  font-weight: bold;
}

.recipe-title {
  padding: 0 1px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: clamp(75px, -0.875rem + 8.333333vw, 200px);
  margin-bottom: 1rem;
  height: 100%;
}

.carousel_container .influencer_credit_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 8%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 10;
  width: 100%;
}

.carousel_container .pointer {
  position: absolute;
  top: -30%;
  width: 25px;
  height: 9.5px;
  background: var(--secondary-white);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.carousel_container .influencer_credit {
  font-size: 0.5rem;
  padding: 5px 8px;
  color: var(--secondary-blk);
  background: var(--secondary-white);
  font-size: clamp(0.5rem, 2vw, 1rem);
  border-radius: 25px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.carousel-images #product-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
}

#product-image > img {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
}

#product-image > img.contain {
  object-fit: contain;
  min-width: 100%;
  height: 100%;
}

/* .lazy {
  background-image: none;
  background-color: #f1f1fa;
} */

.carousel-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  pointer-events: none;
  z-index: 11 !important;
}

.carousel-nav .carousel-button {
  cursor: pointer;
  border: none;
  background-color: var(--secondary-white);
  background-color: #ccccccc;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  pointer-events: all;
  max-width: 34px;
  max-height: 34px;
  margin: 0 10px;
  margin: auto 5px;
}

.carousel-button.previous {
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.carousel-button.next {
  -webkit-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.5);
}

.carousel-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 3.5%;
  min-width: 50%;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  z-index: 10000000;
}

.carousel-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--accent-lightgray);
  border: 1px solid var(--secondary-blk);
  cursor: pointer;
  margin: 0 2px;
  border-radius: 50%;
  opacity: 0.75;
  transition-property: opacity, background-color, -webkit-transform;
  transition-property: transform, opacity, background-color;
  transition-property: transform, opacity, background-color, -webkit-transform;
  transition-duration: 0.3s;
}

.carousel-bullet:hover {
  transform: scale(1.3);
}

.carousel-bullet.active-bullet,
.carousel-bullet.active-bullet:hover {
  opacity: 1;
  transform: scale(1.3);
  background-color: var(--secondary-white);
  cursor: default;
}

.product-txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-y: scroll;
}

.product-txt-wrapper {
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.product-txt-container::-webkit-scrollbar-track {
  background-color: #fff;
}

.product-txt-container::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

.product-txt-container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-blk);
}

.product-txt-wrapper .product-txt-subhead {
  font-family: 'Antonio';
  font-size: clamp(1rem, 9vw, 2rem);
  width: 85%;
  line-height: 1.1em;
  align-self: start;
  padding-bottom: 8px;
}

.product-txt {
  font-size: clamp(0.75rem, 10vw, 0.8rem);
}

.product-txt ul * {
  padding-top: 10px;
}
