/* Info hotspot modal */

.desktop .info-hotspot-modal {
  /* display: none; */
}

.info-hotspot-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 11000 !important;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  font-size: 12px;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0s 0s;
  transition: opacity 0.2s ease-in-out, visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 25px;
  left: 50px;
  right: 50px;
  width: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon {
  display: none;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: auto;
  padding: 0 2px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;
  font-family: "Antonio";
  font-size: clamp(1rem, 5vw, 3.2rem);
  line-height: 3rem;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: -10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
}

.info-hotspot-modal .info-hotspot-content {
  display: grid;
  grid-template-columns: 1fr minmax(326px, 20%);
  grid-gap: 1rem;
  overflow: hidden;
  position: absolute;
  height: 326px;
  top: 75px;
  bottom: 30px;
  left: 50px;
  right: 50px;
  background-color: var(--secondary-white);
  color: var(--secondary-blk);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal.visible .info-hotspot-content {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

.carousel_container {
  height: 310px;
  width: 100%;
  height: 100%;
  order: 1;
  object-fit: contain;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 100%;
}

.carousel .carousel-images {
  display: flex;
  transform: translateX(0);
  transition: transform 0.25s;
}

.carousel-images .product-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.carousel-images .video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  min-width: 100%;
  width: 100%;
  background: var(--secondary-white);
}

.playbtn_wrap {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 13330000 !important;
  background-repeat: no-repeat;
}

.playbtn_wrap:hover {
  cursor: pointer;
  opacity: 0.8;
}

.mobile .playbtn_wrap,
.touch .playbtn_wrap {
  visibility: hidden;
}

.carousel-images video {
  max-width: 50rem;
  min-width: 100%;
  width: 100%;
  max-height: 30.875rem;
  height: 100%;
  margin: 0.75rem 0 1rem 0;
}

.carousel-nav {
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 10px;
  position: absolute;
  pointer-events: none;
}

.carousel-nav .carousel-button {
  background-color: var(--accent-darkgray);
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  opacity: 0.5;
  transition: all 0.25s;
  width: 20px;
  z-index: 1;
  pointer-events: all;
}

.carousel-nav .carousel-button:hover {
  opacity: 0.75;
}

.carousel-pagination {
  list-style: none;
  position: absolute;
  bottom: calc(0% + 5px);
  left: 0;
  right: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 20;
}

.carousel-bullet {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--accent-gray-opaque);

  cursor: pointer;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.5;
  transition-property: transform, opacity, background-color;
  transition-duration: 0.3s;
}

.carousel-bullet:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.carousel-bullet.active-bullet,
.carousel-bullet.active-bullet:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  background-color: var(--accent-gray-opaque);
  cursor: default;
}

.product-txt-wrapper {
  margin: 1rem 0.5rem 1rem 1rem;
  overflow-y: scroll;
  flex-direction: column;
  overflow-y: scroll;
}

.product-txt-wrapper .product-txt-subhead {
  font-weight: 500;
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 1.25rem);
  line-height: 1.25rem;
  width: 65%;
  align-self: start;
  border-bottom: 2px solid var(--blue-added);
  margin-bottom: 1rem;
  padding-bottom: 8px;
}

.product-txt {
  font-size: clamp(0.5rem, -0.875rem + 8.333333vw, 0.75rem);
  font-weight: 300;
}

.recipes {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.recipes-header {
  display: inline-block;
  border-bottom: 1px solid var(--blue-added);
  font-style: italic;
  margin-bottom: 0.75rem;
  padding-bottom: 4px;
  font-size: 0.75rem;
  width: 65%;
}

.recipes-list {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 1rem;
  flex-direction: row;
  width: 100%;
}

.recipes-list ul {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recipes-list li {
  display: flex;
  flex-direction: column;
  max-width: 55px;
  transition: all 0.25s ease;
}

.recipes-list li:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.recipes-link {
  display: flex;
  height: auto;
  width: 100%;
}

.recipe-preview-img-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0.4rem;
}

.recipe-preview-img {
  width: 55px;
  height: auto;
  transition: all 0.25s ease;
}

.recipes-list li:hover .recipe-preview-img {
  -webkit-box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
  box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
}

.recipes-list li:hover a {
  transform: scale(1.04);
  font-weight: bold;
}

.recipes-list li .recipe-title {
  font-size: 1vw;
  font-weight: 300;
  font-style: italic;
  line-height: 0.5rem;
  text-align: center;
  width: auto;
  word-wrap: break-word;
  transition: all 0.25s ease;
}
/*
@media (max-width: 1030px) {
  .rightcol {
    order: -1;
    height: 50%;
  }

  .leftcol {
    height: 50%;
  }

  .product-txt-wrapper {
    max-height: 100%;
    justify-content: start;
  }

  .carousel-pagination {
    bottom: 10px;
  }

  .recipes-list {
    margin-bottom: 2rem;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 0.8rem;
  }

  .product-txt-wrapper {
    padding: 0;
    max-width: 400px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: start;
    justify-content: start;
  }

  .recipe-preview-img {
    max-width: 100px;
  }
  .recipes-list li {
    padding-left: 0;
    align-items: start;
  }
}

@media (max-width: 425px) {
  .carousel-nav .carousel-button {
    width: 1rem;
    height: 1rem;
  }
  .carousel-bullet {
    width: 6px;
    height: 6px;
    margin: 0 2px;
  }

  .info-hotspot-modal .info-hotspot-title {
    line-height: 2rem;
  }

  .product-txt-wrapper {
    max-width: 250px;
    padding-top: 1rem;
  }

  .product-txt-wrapper .product-txt-subhead {
    width: 60%;
    line-height: 1.2rem;
    border-bottom: 1px solid var(--accent-blue);
    margin-bottom: 0.5rem;
    padding-bottom: 8px;
  }

  .recipes-list {
    flex-wrap: wrap;
    padding: 0;
    max-height: 35%;
  }

  .recipes-list li {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
  }

  .recipe-title {
    padding-left: 1rem;
  }
}

@media (max-width: 320px) {
  .rightcol {
    height: 45%;
  }
  .leftcol {
    height: 45%;
  }

  .product-txt-wrapper {
    padding-top: 0;
  }

  .info-hotspot-title-wrapper {
    left: -10px;
    padding: 0;
  }
}

@media (max-height: 900px) and (min-width: 1028px) {
  .product-txt-wrapper {
    font-size: 0.75rem;
  }
  .carousel-pagination {
    bottom: 230px;
  }
} */

/* @media (max-width: 1300px) {
  .product-txt-wrapper {
    width: 400px;
  }

  .recipes {
    padding-top: 2rem;
    width: 100%;
  }
  .recipes-list li {
    padding: 0;
    align-items: start;
  }
  .recipe-preview-img {
    width: 100px;
  }
}

@media (max-width: 1000px) {
  .col-wrap {
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: 1rem;
  }

  .leftcol {
    width: 400px;
  }

  .product-txt-wrapper {
    margin: 1rem 0;
  }

  .info-hotspot-modal .info-hotspot-title-wrapper .info-hotspot-title {
    font-size: 48px;
    line-height: 3rem;
  }

  .carousel,
  .carousel .carousel-images .product-image {
    width: 400px;
    height: auto;
  }

  .product-txt-wrapper {
    max-width: 500px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .info-hotspot-modal .info-hotspot-title-wrapper {
    justify-content: start;
    left: 0;
  }
  .product-txt-wrapper {
    margin: 2rem 0;
  }
  .recipe-preview-img {
    width: 100px;
    height: auto;
    transition: all 0.25s ease;
  }
  .carousel-nav .carousel-button {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
  }
}

@media (max-width: 581px) {
  .leftcol {
    width: 425px;
  }

  .info-hotspot-modal .info-hotspot-title-wrapper {
    width: 50%;
    padding: 0;
    left: 10px;
  }
  .info-hotspot-modal .info-hotspot-title-wrapper .info-hotspot-title {
    font-size: 30px;
    line-height: 2rem;
  } */
/* .carousel {
    max-width: 400px;
    height: 400px;
    -webkit-box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
    box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
  } */
/* .carousel .carousel-images .product-image {
    width: 400px;
    height: auto;
  } */
/* }
@media (max-width: 375px) {
  .carousel-nav .carousel-button {
    margin: 0 2.5rem;
  }
  .product-txt-wrapper {
    font-size: 1rem;
  }
  .recipe-preview-img {
    width: 80px;
  }
}

@media (max-width: 320px) {
  .carousel-nav .carousel-button {
    margin: 0 3.4rem;
  }
  .recipe-preview-img {
    width: 60px;
  }
} */

/* #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  font-size: 2rem;
  padding: 1rem 2rem;
} */

/* View control buttons */

/* .viewControlButton {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
}

body.view-control-buttons .viewControlButton {
  display: block;
}

/* Hide controls when width is too small */
/* @media (max-width: 600px) {
  body.view-control-buttons .viewControlButton {
    display: none;
  }
} */

/* .viewControlButton .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

/* Center is at margin-left: -20px */
/* .viewControlButton-1 {
  margin-left: -145px;
}
.viewControlButton-2 {
  margin-left: -95px;
}
.viewControlButton-3 {
  margin-left: -45px;
}
.viewControlButton-4 {
  margin-left: 5px;
}
.viewControlButton-5 {
  margin-left: 55px;
}
.viewControlButton-6 {
  margin-left: 105px;
}  */
