@media only screen and (max-width: 450px) {
  .product-txt-wrapper > *:not(.product-txt) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .info-hotspot-modal .info-hotspot-title {
    font-size: 1.2rem;
  }

  .info-hotspot-modal .info-hotspot-header {
    top: 40px;
    left: 10px;
    right: 10px;
  }

  .info-hotspot-modal .info-hotspot-title-wrapper {
    justify-self: start;
    justify-content: start;
    padding-left: 10px;
  }

  .info-hotspot-modal .info-hotspot-content {
    left: 10px;
    right: 10px;
    top: 85px;
  }

  .carousel_container .influencer_credit_container {
    bottom: 4%;
  }

  .carousel_container .influencer_credit_container {
    bottom: 7.5%;
  }

  .carousel_container .pointer {
    top: -20%;
    width: calc(25px / 2);
    height: calc(9.5px / 2);
    background: var(--secondary-white);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

@media only screen and (max-width: 500px) and (min-height: 500px) {
  .carousel_container,
  .carousel-images .product-image {
    height: 250px;
  }
  .info-hotspot-modal .info-hotspot-content {
    max-width: 100%;
    max-height: 100%;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

@media only screen and (max-width: 500px) and (min-height: 600px) {
  .carousel_container,
  .carousel-images .product-image {
    height: 300px;
  }
  .info-hotspot-modal .info-hotspot-content {
    max-width: 100%;
    max-height: 100%;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

@media only screen and (max-width: 500px) and (min-height: 800px) {
  .carousel_container,
  .carousel-images .product-image {
    height: 350px;
  }
  .info-hotspot-modal .info-hotspot-content {
    max-width: 100%;
    max-height: 100%;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

@media only screen and (max-width: 700px) and (min-height: 450px) {
  .info-hotspot-content {
    height: 100%;
  }
  .carousel_container {
    grid-row: 1 / span 1;
  }
  .product-txt-container {
    grid-row: 2 / span 1;
    display: block;
  }
  .info-hotspot-modal .info-hotspot-content {
    max-width: 100%;
    max-height: 100%;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

/* iframe */

@media only screen and (min-width: 100px) and (max-width: 700px) and (min-height: 389px) and (max-height: 389px) {
  .iframe_container__video {
    z-index: -2;
  }
  .link-hotspot {
    width: 35px;
    height: 35px;
  }
  .link-hotspot-tooltip {
    right: -28px;
  }
  .carousel-bullet {
    margin: 0 2px;
  }
  .product-txt-wrapper > *:not(.product-txt) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .recipe-link {
    align-items: start;
  }
  
  .product-txt {
    font-size: 0.75rem;
  }

  .recipes-header {
    font-size: 1rem;
  }

  .info-hotspot-modal .info-hotspot-close-wrapper {
    position: absolute;
    right: 0rem;
    bottom: 0.9rem;
  }

  .info-hotspot-modal .info-hotspot-title-wrapper {
    justify-self: center;
    justify-content: center;
    padding-left: 10px;
  }

  .info-hotspot-modal .info-hotspot-header {
    top: 30px;
    left: 10px;
    right: 10px;
  }

  .info-hotspot-modal .info-hotspot-content {
    max-height: 100%;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 75px;
  }
}

@media only screen and (min-width: 100px) and (max-width: 350px) and (min-height: 389px) and (max-height: 389px) {
  .info-hotspot-modal .info-hotspot-title-wrapper {
    justify-self: start;
    justify-content: start;
  }
}
/* ipad */
/* portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .carousel_container {
    grid-row: 1 / span 1;
  }
  .product-txt-container {
    grid-row: 2 / span 1;
    display: block;
  }
  .carousel_container,
  .carousel-images .product-image {
    height: 100%;
  }
}
/* landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .carousel_container {
    grid-row: 1 / span 2;
  }
  .product-txt-container {
    grid-row: 1 / span 2;
  }
}

/* ipad pro */
/* portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .carousel_container {
    grid-row: 1 / span 1;
  }
  .product-txt-container {
    grid-row: 2 / span 1;
    display: block;
  }
  .carousel_container,
  .carousel-images .product-image {
    height: 100%;
  }
}
/* landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .carousel_container {
    grid-row: 1 / span 2;
  }
  .product-txt-container {
    grid-row: 1 / span 2;
  }
}
