@font-face {
  font-family: "Antonio";
  src: url("./assets/antonio-desktop/Antonio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Antonio";
  src: url("./assets/antonio-desktop/Antonio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Antonio";
  src: url("./assets/antonio-desktop/Antonio-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-100.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-100Italic.otf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-300.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-300Italic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-500.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-500Italic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-700.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-700Italic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-900.otf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("./assets/museo-sans-webfont/Museo Sans Family/exljbris\ -\ MuseoSans-900Italic.otf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

:root {
  --primary-blue: rgb(42, 127, 140);
  --secondary-blk: rgb(41, 40, 41);
  --secondary-blk-opaque: rgba(41, 40, 41, 0.5);
  --secondary-white: rgb(245, 245, 245);
  --secondary-white-opaque: rgba(245, 245, 245, 0.5);
  --accent-blue: rgb(0, 173, 174);
  --accent-blue-opaque: rgba(0, 173, 174, 0.5);
  --accent-red: rgb(233, 115, 85);
  --accent-green: rgb(177, 198, 118);
  --accent-darkgray: rgb(109, 110, 113);
  --accent-darkgray-opaque: rgba(109, 110, 113, 0.5);
  --accent-gray: rgb(167, 169, 172);
  --accent-gray-opaque: rgba(167, 169, 172, 0.5);
  --accent-lightgray: rgb(230, 231, 232);
  --accent-lightgray-opaque: rgba(230, 231, 232, 0.5);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Museo Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #000;
  color: var(--secondary-white);
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#titleBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: var(--secondary-white-opaque);
}

/* If there is a fullscreen button the title bar must make space for it */
/* body.fullscreen-enabled #titleBar {
  right: 80px;
}

body.fullscreen-enabled.mobile #titleBar {
  right: 100px;
}

/* If there are multiple scenes the title bar must make space for the scene list toggle */
body.multiple-scenes #titleBar {
  left: 0px;
}

body.multiple-scenes.mobile #titleBar {
  left: 0px;
}
*/ #titleBar .logoWrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#titleBar .sceneName {
  width: 200px;
}

.mobile #titleBar .sceneName {
  line-height: 40px;
}

#fullscreenToggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 5px;
}

.mobile #fullscreenToggle {
  width: 50px;
  height: 50px;
}

body.fullscreen-enabled #fullscreenToggle {
  display: block;
}

#fullscreenToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
  filter: invert(1);
  margin: 2px;
}

.mobile #fullscreenToggle .icon {
  top: 10px;
  right: 10px;
}

#fullscreenToggle .icon.on {
  display: none;
}

#fullscreenToggle .icon.off {
  display: block;
}

#fullscreenToggle.enabled .icon.on {
  display: block;
}

#fullscreenToggle.enabled .icon.off {
  display: none;
}

#sceneListToggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  padding: 5px;
}

.mobile #sceneListToggle {
  width: 50px;
  height: 50px;
}

#sceneListToggle .text {
  position: absolute;
  right: 5px;
  top: 5px;
  left: 15px;
  width: 100%;
  line-height: 30px;
}

#sceneListToggle .icon {
  position: absolute;
  top: 2.5px;
  left: 5px;
  width: 50px;
  height: 50px;
  filter: invert(1);
}

.mobile #sceneListToggle .icon {
  top: 10px;
  left: 10px;
}

#sceneListToggle .icon.on {
  display: none;
}

#sceneListToggle .icon.off {
  display: block;
}

#sceneListToggle.enabled .icon.on {
  display: block;
}

#sceneListToggle.enabled .icon.off {
  display: none;
}

#sceneList {
  position: absolute;
  top: 0;
  left: -220px;
  padding-top: 60px;
  width: 220px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
  color: var(--secondary-blk);
}

.mobile #sceneList {
  padding-top: 60px;
}

#sceneList .scenes {
  width: 100%;
}

.mobile #sceneList {
  width: 100%;
  height: 100%;
  left: -100%;
}

.mobile #sceneList.enabled {
  margin-left: 100%;
}

.mobile #sceneList .scenes {
  height: 100%;
}

#sceneList.enabled {
  margin-left: 220px;
}

#sceneList .scene {
  display: block;
  width: 100%;
  height: 30px;
}

.mobile #sceneList .scene {
  height: 40px;
}

#sceneList .scene .text {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--secondary-white-opaque);
  font-weight: 700;
  color: bl;
}

.mobile #sceneList .scene .text {
  line-height: 40px;
}

.no-touch #sceneList .scene:hover {
  background-color: var(--accent-darkgray);
  background-color: var(--accent-darkgray-opaque);
}

#sceneList .scene.current {
  background-color: var(--accent-darkgray);
  background-color: var(--accent-darkgray-opaque);
}

/* Hide scene list when only a single scene exists */
body.single-scene #sceneList,
body.single-scene #sceneListToggle {
  display: none;
}

/* Link hotspot */

.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 70px;
  height: 70px;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */

  margin-left: 3px;

  font-size: 16px;

  max-width: 300px;

  padding: 8px 10px;

  border-radius: 5px;

  background-color: var(--secondary-white);
  background-color: var(--secondary-white-opaque);

  color: #fff;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer;

  opacity: 0;

  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, opacity 0.3s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, opacity 0.3s;
}

.mobile .link-hotspot {
  top: 19px; /* ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot */

.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--accent-blue);
  background-color: var(--accent-blue-opaque);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.desktop.no-touch .info-hotspot .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.desktop .info-hotspot.visible .info-hotspot-header,
.desktop.no-touch .info-hotspot.visible .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.info-hotspot .info-hotspot-icon-wrapper {
  width: 40px;
  height: 40px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot .info-hotspot-title-wrapper {
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s, padding 0s 0.4s;
  transition: width 0s 0.4s, padding 0s 0.4s;
}

.desktop .info-hotspot.visible .info-hotspot-title-wrapper,
.desktop.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper {
  width: 220px;
  padding: 0 5px;
  -webkit-transition: width 0s 0.4s, padding 0s 0.4s;
  transition: width 0s 0.4s, padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-close-wrapper {
  position: absolute;
  left: 260px;
  top: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 5px;
  background-color: rgb(78, 88, 104);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s, transform 0.3s 0.3s, visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s, transform 0.3s 0.3s, visibility 0s 0.6s;
}

.desktop .info-hotspot.visible .info-hotspot-close-wrapper {
  visibility: visible;
  -ms-transform: perspective(200px) rotateY(0deg);
  -webkit-transform: perspective(200px) rotateY(0deg);
  transform: perspective(200px) rotateY(0deg);
  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, visibility 0s 0s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, visibility 0s 0s;
}

.info-hotspot .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-content {
  position: absolute;
  width: 300px;
  height: auto;
  top: 40px;
  left: 0;
  padding: 10px;
  background-color: rgb(58, 68, 84);
  overflow-y: auto;
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, visibility 0s 0.3s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.desktop .info-hotspot.visible .info-hotspot-content {
  visibility: visible;
  -ms-transform: perspective(200px) rotateX(0deg);
  -webkit-transform: perspective(200px) rotateX(0deg);
  transform: perspective(200px) rotateX(0deg);
  -webkit-transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s, transform 0.3s 0.3s, visibility 0s 0s;
  transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s, transform 0.3s 0.3s, visibility 0s 0s;
}

/* Info hotspot modal */

.desktop .info-hotspot-modal {
  /* display: none; */
}

.info-hotspot-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0s 0s;
  transition: opacity 0.2s ease-in-out, visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  width: auto;
  height: 90%;
  background-color: var(--accent-blue);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon {
  display: none;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 10px;
  right: 50px;
  width: auto;
  height: 100px;
  padding: 0 10px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;
  font-family: "Antonio";
  font-size: 64px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot-modal .info-hotspot-content {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 150px;
  bottom: 40px;
  left: 50px;
  right: 50px;
  background-color: var(--secondary-white);
  color: var(--secondary-blk);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal.visible .info-hotspot-content {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

.col-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 2rem;
}

.leftcol {
  height: 400px;
  width: 600px;
}

.rightcol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.product-txt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 2rem 0 0;
}

.product-txt-wrapper .product-txt-subhead {
  justify-self: flex-end;
  font-weight: 500;
  font-size: 1.5rem;
  width: 80%;
  line-height: 2rem;
  border-bottom: 1px solid var(--accent-red);
  margin-bottom: 1rem;
  padding-bottom: 8px;
}

.product-txt {
  font-weight: 300;
}

.recipes {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.recipes-header {
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  display: inline-block;
}

.recipes-list {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.recipes-list ul {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.recipes-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem 0 1rem;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease;
}

.recipes-list li:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.recipe-preview-img-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0.4rem;
}

.recipe-preview-img {
  width: 120px;
  height: auto;
  transition: all 0.25s ease;
}

.recipes-list li:hover .recipe-preview-img {
  -webkit-box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
  box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
}

.recipes-list li:hover a {
  transform: scale(1.04);
  font-weight: bold;
}

.recipes-list li a {
  font-size: 0.7rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1rem;
  width: 100px;
  transition: all 0.25s ease;
}

.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-width: 500px;
  height: 500px;
  -webkit-box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
  box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
}

.carousel .carousel-images {
  display: flex;
  transform: translateX(0);
  transition: transform 0.25s;
}

.carousel .carousel-images .product-image {
  width: 500px;
  height: auto;
}

.carousel-nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 10px;
  position: absolute;
}

.carousel-nav .carousel-button {
  background-color: var(--accent-gray);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2.5rem;
  opacity: 0.5;
  transition: all 0.25s;
  width: 2.5rem;
  z-index: 1;
}

.carousel-nav .carousel-button:hover {
  opacity: 0.75;
}

@media (max-width: 1300px) {
  .product-txt-wrapper {
    width: 400px;
  }

  .recipes {
    padding-top: 2rem;
    width: 100%;
  }
  .recipes-list li {
    padding: 0;
    align-items: start;
  }
  .recipe-preview-img {
    width: 100px;
  }
}

@media (max-width: 1000px) {
  .col-wrap {
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: 1rem;
  }

  .leftcol {
    width: 400px;
  }

  .product-txt-wrapper {
    margin: 1rem 0;
  }

  .info-hotspot-modal .info-hotspot-title-wrapper .info-hotspot-title {
    font-size: 48px;
    line-height: 3rem;
  }

  .carousel,
  .carousel .carousel-images .product-image {
    width: 400px;
    height: auto;
  }

  .product-txt-wrapper {
    max-width: 500px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .info-hotspot-modal .info-hotspot-title-wrapper {
    justify-content: start;
    left: 0;
  }
  .product-txt-wrapper {
    margin: 2rem 0;
  }
  .recipe-preview-img {
    width: 100px;
    height: auto;
    transition: all 0.25s ease;
  }
  .carousel-nav .carousel-button {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
  }
}

@media (max-width: 581px) {
  .leftcol {
    width: 425px;
  }

  .info-hotspot-modal .info-hotspot-title-wrapper {
    width: 50%;
    padding: 0;
    left: 10px;
  }
  .info-hotspot-modal .info-hotspot-title-wrapper .info-hotspot-title {
    font-size: 30px;
    line-height: 2rem;
  }
  /* .carousel {
    max-width: 400px;
    height: 400px;
    -webkit-box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
    box-shadow: -5px 5px 6px -1px rgba(0, 0, 0, 0.4);
  } */
  /* .carousel .carousel-images .product-image {
    width: 400px;
    height: auto;
  } */
}
@media (max-width: 375px) {
  .carousel-nav .carousel-button {
    margin: 0 2.5rem;
  }
  .product-txt-wrapper {
    font-size: 1rem;
  }
  .recipe-preview-img {
    width: 80px;
  }
}

@media (max-width: 320px) {
  .carousel-nav .carousel-button {
    margin: 0 3.4rem;
  }
  .recipe-preview-img {
    width: 60px;
  }
}

/* #footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  font-size: 2rem;
  padding: 1rem 2rem;
} */

/* View control buttons */

/* .viewControlButton {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103, 115, 131);
  background-color: rgba(103, 115, 131, 0.8);
}

body.view-control-buttons .viewControlButton {
  display: block;
}

/* Hide controls when width is too small */
/* @media (max-width: 600px) {
  body.view-control-buttons .viewControlButton {
    display: none;
  }
} */

/* .viewControlButton .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

/* Center is at margin-left: -20px */
/* .viewControlButton-1 {
  margin-left: -145px;
}
.viewControlButton-2 {
  margin-left: -95px;
}
.viewControlButton-3 {
  margin-left: -45px;
}
.viewControlButton-4 {
  margin-left: 5px;
}
.viewControlButton-5 {
  margin-left: 55px;
}
.viewControlButton-6 {
  margin-left: 105px;
}  */
