/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



:root {
  --primary-blue: rgb(42, 127, 140);
  --primary-blue-opaque: rgb(42, 127, 140, 0.5);
  --secondary-blk: #292829;
  --secondary-blk-opaque: rgba(41, 40, 41, 0.5);
  --secondary-white: rgb(245, 245, 245);
  --secondary-white-opaque: rgba(245, 245, 245, 0.5);
  --accent-blue: rgb(0, 173, 174);
  --accent-blue-opaque: rgba(0, 173, 174, 0.5);
  --accent-red: rgb(233, 115, 85);
  --accent-red-opaque: rgb(233, 115, 85, 0.85);
  --accent-green: rgb(177, 198, 118);
  --accent-green-opaque: rgb(177, 198, 118, 0.8);
  --accent-darkgray: #6d6e71;
  --accent-darkgray-opaque: rgba(109, 110, 113, 0.795);
  --accent-gray: #a7a9ac;
  --accent-gray-opaque: rgba(167, 169, 172, 0.5);
  --accent-lightgray: #e6e7e8;
  --accent-lightgray-opaque: rgba(230, 231, 232, 0.5);
  --blue-added: #1a5962;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0.99;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Museo Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--secondary-blk);
  color: #fff;
  scroll-behavior: smooth;
}

.mobile-fullscreen-cta {
  max-width: 300px;
  padding: 1rem;
}

.mobile-fullscreen-cta,
.controls {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--secondary-blk-opaque);
  border-radius: 0.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.controls {
  padding: 0.5rem;
  font-size: clamp(0.75rem, 1vw, 1rem);
}

.chef-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

.mobile-fullscreen-cta .cta-text {
  margin-bottom: 1rem;
}

.mobile-fullscreen-cta button {
  padding: 0.5rem 1rem;
  color: var(--secondary-white);
  border: 1px solid var(--secondary-white);
  background: transparent;
}

.mobile-fullscreen-cta button:hover {
  cursor: pointer;
  background: var(--secondary-blk-opaque);
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

#tooltip,
#tooltip-LH {
  opacity: 0;
  color: #292829;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  background: #fff;
  text-align: center;
}

.second-tour-starter #tooltip-LH[data-show] {
  opacity: 0;
}

#tooltip,
#tooltip-LH {
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

#tooltip[data-show],
#tooltip-LH[data-show] {
  opacity: 1;
}

#arrow,
#arrow::before,
#arrow-LH,
#arrow-LH::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow,
#arrow-LH {
  visibility: hidden;
}

#arrow::before,
#arrow-LH::before {
  visibility: visible;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  -webkit-transition: all 0.8s ease-out, height 0s 0s, opacity 0.8s 0s !important;
  -o-transition: all 0.8s ease-out, height 0s 0s, opacity 0.8s 0s !important;
  transition: all 0.8s ease-out, height 0s 0s, opacity 0.8s 0s !important;
}

.shepherd-element {
  -webkit-transition: opacity 0.8s, visibility 0.8s !important;
  -o-transition: opacity 0.8s, visibility 0.8s !important;
  transition: opacity 0.8s, visibility 0.8s !important;
  max-width: 300px !important;
}

.shepherd-header {
  height: 40px;
  padding: 0 0.75rem !important;
}

.shepherd-cancel-icon {
  -ms-flex-item-align: center !important;
  -ms-grid-row-align: center !important;
  align-self: center !important;
}

.shepherd-text {
  padding: 0.75rem 1rem !important;
  font-size: clamp(0.85rem, 2vw, 1rem) !important;
  text-align: center;
}

.shepherd-button {
  color: #292829 !important;
  background: transparent !important;
  border: 1px solid var(--secondary-blk) !important;
  padding: 0.25rem 1rem !important;
}
.shepherd-button:hover {
  background: var(--accent-gray) !important;
}

#intro,
#help-menu {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  transition: 0!important;
  margin: auto;
}

#help-menu .controls,
#intro .intro-content,
#controls .controls {
  font-size: clamp(0.75rem, 2vw, 1rem);
  border: 1px solid var(--secondary-white);
  background: var(--secondary-blk-opaque);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0.5rem;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#controls .controls,
#help-menu .controls {
  max-width: 500px;
}

#intro .intro-content {
  max-width: 600px;
  max-width: 100%;
}

.controls-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.controls-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.controls-icons {
  display: flex;
  flex-direction: row;
}

.controls-section,
.controls-section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1rem;
  font-size: 0.7rem;
}

.controls-section-top span {
  max-width: 18ch;
}

.controls-section img,
.controls-section-top img {
  margin-bottom: 0.5rem;
}

.controls-explore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls-h1 {
  align-self: center;
  justify-self: center;
  font-weight: 500;
  margin: 0.25rem auto;
}

.controls-header .controls-menu-close {
  justify-self: flex-end;
}

.controls-left,
.controls-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.75rem;
}

.controls-left > *,
.controls-right > * {
  margin-bottom: 1rem;
}

.help-list:not(.icon-spec),
.help-list-heading:first-of-type {
  border-bottom: 1px solid #fff;
}

.help-list-heading {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.help-list-heading > * {
  margin-bottom: 10px;
}

#help-body .help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.help-list-section .help-break {
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.help-list .help-list-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 120px;
  flex: 1 1 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 2rem;
}

.help-list .help-list-section > * {
  margin: 10px auto;
}

.help-list .help-list-section span:not(.help-break) {
  max-width: 20ch;
  text-align: center;
  display: block;
}

.help-list .help-list-section img {
  display: block;
}

#intro {
  /* background-color: rgba(0, 0, 0, 0.486); */
  transition: none;
}

#intro .intro-header,
.help-header {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  max-height: 40px;
  padding: 10px 5px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#intro .intro-header .info-hotspot-close-wrapper {
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#intro-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 1rem 2rem;
}

#intro-heading .intro-h1 {
  margin: 0 1rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  max-width: 22ch;
  justify-self: flex-start;
}

#intro-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem 0 2rem 0;
  max-width: 26ch;
}

#intro-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

#intro-buttons .tour-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 2px solid var(--secondary-white);
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  width: 100%;
  padding: 1rem;
  color: inherit;
  font: inherit;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: 0.1s background-color linear;
  -o-transition: 0.1s background-color linear;
  transition: 0.1s background-color linear;
  text-align: center;
}

.tour-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-blk);
}

#intro-buttons .cancel {
  border-right: 2px solid var(--secondary-white);
  border-bottom-left-radius: 0.5rem;
}

#intro-buttons .confirm {
  /* border-left: 1px solid var(--secondary-blk); */
  border-bottom-right-radius: 0.5rem;
}

.loader-inner {
  margin-top: 3.5rem;
}

.loader-inner div {
  width: 10px;
  height: 10px;
  margin: 0px;
}

.preload-text {
  margin-top: 3.25rem;
  font-weight: lighter;
  font-size: 1rem;
}

.preload-text::after {
  content: " .";
  -webkit-animation: dots 1s steps(5, end) infinite;
  animation: dots 1s steps(5, end) infinite;
}

@-webkit-keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

.help-menu-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.help-menu-btn svg {
  opacity: 0.75;
  -webkit-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.help-menu-btn svg:hover {
  cursor: pointer;
  opacity: 1;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  -webkit-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#titleBar {
  -webkit-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background: var(--secondary-white-opaque);
}

#footer {
  background: var(--secondary-white-opaque);
  padding: 0.5rem 1rem;
}

body.multiple-scenes #titleBar {
  left: 0px;
}

body.multiple-scenes.mobile #titleBar {
  left: 0px;
}

.logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
}

.sceneName {
  display: block;
  max-width: 120px;
  height: auto;
}

#fullscreenToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
}

body.fullscreen-enabled #fullscreenToggle {
  display: block;
}

#fullscreenToggle .icon {
  max-width: 30px;
  max-height: 30px;
  -webkit-filter: invert(1);
  filter: invert(1);
  opacity: 0.8;
}

#fullscreenToggle .icon.on {
  display: none;
}

#fullscreenToggle .icon.off {
  display: block;
}

#fullscreenToggle.enabled .icon.on {
  display: block;
}

#fullscreenToggle.enabled .icon.off {
  display: none;
}

/* Link hotspot */

.link-hotspot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.link-hotspot-icon {
  border: 3px solid var(--accent-blue);
  max-width: 100%;
  height: 85%;
  padding: 2px;
  border-radius: 50%;
  margin-right: 1;
  cursor: pointer;
}

.link-hotspot-tooltip {
  display: none;
}

.link-hotspot-tooltip[data-show] {
  display: block;
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot */
.info-hotspot .info-hotspot-content,
.info-hotspot .info-hotspot-close-wrapper {
  display: none;
}

.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  -o-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid var(--accent-green-opaque);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s, background 1s ease-in-out;
  -o-transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s, background 1s ease-in-out;
  transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s, background 1s ease-in-out;
}

.no-touch .info-hotspot .info-hotspot-header:hover {
  width: 210px;
  max-width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background 0.5s ease-in-out;
  -o-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background 0.5s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background 0.5s ease-in-out;
  background: var(--accent-gray-opaque);
}

.no-touch .info-hotspot.visible .info-hotspot-header:hover {
  width: 210px;
  background: var(--secondary-white-opaque);

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background 0.3s ease-in-out,
    background 0.5s ease-in-out;
  -o-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background 0.3s ease-in-out,
    background 0.5s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background 0.3s ease-in-out,
    background 0.5s ease-in-out;
}

.info-hotspot .info-hotspot-icon-wrapper {
  width: 45px;
  height: 45px;
}

.info-hotspot .info-hotspot-icon {
  max-width: 75%;
  height: 75%;
  margin: 1px;
}

.info-hotspot .info-hotspot-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  text-align: left;
  -webkit-transition: width 0s 0.4s, padding 0s 0.4s;
  -o-transition: width 0s 0.4s, padding 0s 0.4s;
  transition: width 0s 0.4s, padding 0s 0.4s;
}

.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper {
  width: 160px;
  padding: 0 0 0 5px;
  -webkit-transition: width 0s 0.4s, padding 0s 0.4s;
  -o-transition: width 0s 0.4s, padding 0s 0.4s;
  transition: width 0s 0.4s, padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-size: 0.8rem;
  line-height: 0.8rem;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* media queries */
@media (min-width: 1440px) {
  .link-hotspot-tooltip {
    left: -87.5%;
    font-size: 1rem;
    width: 170px;
  }
  #fullscreenToggle .icon {
    width: 24px;
    height: 24px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }
  #titleBar {
    height: 70px;
  }
  #titleBar .sceneName {
    max-width: 150px;
  }
}
